* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
      url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
      url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
      url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
      url('../fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
      url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
      url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
      url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
      url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
      url('../fonts/OpenSans/OpenSans-LightItalic.woff2') format('woff2'),
      url('../fonts/OpenSans/OpenSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
      url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
      url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
      url('../fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2'),
      url('../fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'),
      url('../fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
      url('../fonts/OpenSans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


:root {
--background-site:#FFF;
--background-navigation:#000;
--text-not-on-white-background:#FFF;
--text-hover:#C283F3;
--text-active:#9D5CD0;
--focus-color:#7943A4;
--btn-color:#9D5CD0;
--btn-hover:#C283F3;
--btn-active:#7943A4;
--text:#333;
--btn-slider: #666;
--border-search:#FFF;
--accordion-border: #CACACA;
--transparent-black:rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

body {
  display: block;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.section-header {
  margin: 0;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: var(--text);
}

.text {
  font-size: 16px;
  line-height: 32px;
  color: var(--text);
}

.about-us,
.gallery,
.catalog {
  padding: 80px 0 0 0;
  margin-bottom: 69px;
}

.prise-form span,
.prise-header,
.label-categories,
.publications-header,
.categories-header,
.nav__link,
.top-header__log-in {
  color: var(--text-not-on-white-background);
}

/* ///////////////////////////////////1920px/////////////////////////////////// */

/* header */

.header {
  width: 100%;
}

/*top-header */
.header__top-header {
  background-color: var(--background-navigation);
  padding-top: 28px;
  padding-bottom: 28px;
}

.top-header__content {
  display: flex;    
  align-items: center;
}

.top-header__logo {
  margin: 0 174px 0 0;
}

.logo {
  display: block;
}

.nav {
  margin: 0 274px 0 0;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin: 0 50px 0 0;
}


.nav__link {
  display: block;
  width: auto;
  padding: 2px 6px 0 6px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  transition: all .3s ease;
}

.nav__link:hover {
  color: var(--text-hover);
}

.nav__link:active {
  color: var(--text-active);
}

.nav__link:focus {
  background-color: var(--focus-color);
  outline: none;
}

.top-header__log-in {
  display: block;
  width: 73px;
  padding: 0 0 0 20px;
  font-size: 18px;
  line-height: 25px;
  background: url(../img/svg/log-in-icon.svg) no-repeat left center;
  transition: all .3s ease;
}

.top-header__log-in:hover {
  color: var(--text-hover);
  background: url(../img/svg/log-in-icon-hover.svg) no-repeat left center;
}

.top-header__log-in:active{
  color: var(--text-active);
  background: url(../img/svg/log-in-icon-active.svg) no-repeat left center;
}

.top-header__log-in:focus {
  outline: none;
  background-color: var(--focus-color);
}

/*bottom-header */
.header__bottom-header {
  background: var(--transparent-black);
  padding: 23px 0 21px 0;
}

.bottom-header__content {
  display: flex;
  align-items: center;
}

.bottom-header__list {
  display: flex;
  margin: 0 316px 0 0 ;
}

.bottom-header__item {
  position: relative;
}

.bottom-header__item:not(:last-child) {
  margin: 0 97px 0 0;
}

.bottom-header__btn {
  padding: 0;
  background: none;
  border: none;
  font-size: 18px;
  line-height: 25px;
  padding-right: 16px;
  background: url(../img/svg/SelectIcon.svg) no-repeat right 63%;
  color: var(--text-not-on-white-background);
  transition: all .2s ease;
}

.bottom-header__btn:hover {
  color: var(--text-hover);
  background: url(../img/svg/select-icon-hover.png) no-repeat right;
}

.bottom-header__btn:active {
  color: var(--text-active);
}

.bottom-header__btn--active {
  color: var(--text-active);
  background: url(../img/svg/select-icon-active.svg) no-repeat right 63% !important;
}

.select-list {
  display: none;
  visibility: hidden;
}

.select-list--visible-list {
  position: absolute !important;
  display: block !important;
  visibility: visible !important;
  width: 300px;
  height: 300px;
  top: 46px;
  padding: 40px;
  background: var(--transparent-black);
}

.simplebar-track {
  margin-top: 40px;
  margin-right: 20px;
  max-height: 220px;
  max-width: 2px;
  background-color: var(--text-not-on-white-background);
  align-items: center;
}

.simplebar-scrollbar {
  max-width: 2px;
  background-color: var(--background-navigation);
}

.select-list__item {
  width: 220px;
  height: 40px;
  margin: 0 0 20px 0;
  background: #D88F99;
}

.select-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 0 0 14px;
  color: var(--text-not-on-white-background);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  transition: all .3s ease;
}

.select-list__link:hover {
  box-shadow: 0 0 0 2px #D1A9F0;
}

.select-list__link:focus {
  box-shadow: 0 0 0 2px #D1A9F0;
}

.select-list__link:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
  box-shadow: 0 0 0 2px #D1A9F0;
}

.select-list__item:nth-child(4n+1) {
  background-image: url(../img/png/Rectangle\ 57.png);
}

.select-list__item:nth-child(4n+2) {
  background-image: url(../img/png/Rectangle\ 58.png);
}

.select-list__item:nth-child(4n+3) {
  background-image: url(../img/png/Rectangle\ 59.png);
}

.select-list__item:nth-child(4n+4) {
  background-image: url(../img/png/Rectangle\ 60.png);
}

/* search */
.bottom-header__search {
  padding-top: 3px;
}

.search {
  display: flex;
  width: 251px;
  align-items: center;
}

.search__btn {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  background: url(../img/svg/search-Icon.svg);
  border: none;
}

.search__input {
  width: 218px;
  padding: 0 0 3px 0;
  background: none;
  border: none;
  border-bottom: 1px solid var(--border-search);
  transition: all .3s ease;
}

.search__input:hover {
  border-bottom: 1px solid var(--text-hover);
}

.search__input:focus {
  outline: none;
  border: none;
  color: var(--text-not-on-white-background);
  border-bottom: 1px solid var(--focus-color);
}

.search__input::placeholder {
  color: var(--text-not-on-white-background);
  font-size: 18px;
  line-height: 25px;
}

/* main */

/* hero-swiper-block */

.hero-block {
  padding: 0 0 124px 0;
}

.hero-block__content {
  width: 597px;
}

.hero-block__container {
  padding: 71px 0 0 0;
  margin-bottom: 92px;
}

.hero-block__header {
  width: 597px;
  color: var(--text-not-on-white-background);
  font-weight: bold;
  font-size: 72px;
  line-height: 85px;
  margin: 0 0 16px 0;
}

.hero-block__text {
  width: 557px;
  color: var(--text-not-on-white-background);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.hero-block__btn {
  display: block;
  width: 314px;
  padding: 22px 35px;
  text-align: center;
  background: var(--btn-color);
  border-radius: 100px;
  border: none;
  color: var(--text-not-on-white-background);
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  transition: all .3s ease;
}

.hero-block__btn:hover {
  box-shadow: 0 0 0 3px var(--btn-hover);
}

.hero-block__btn:active {
  background-color: var(--btn-active);
  box-shadow: 0 0 0 3px var(--btn-hover);
}

.hero-block__btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-color);
}

.swiper-container__arts {
  position: absolute !important;
  height: 800px !important;
  width: 100%;
  top: 0;
  z-index: -1 !important;
}

.first-swiper-slide-container {
  width: 100%;
  height: 100%;
  background: url(../img/png/castle.png);
}

.second-swiper-slide-container {
  width: 100%;
  height: 100%;
  background: url(../img/png/angels.png);
}

.therd-swiper-slide-container {
  width: 100%;
  height: 100%;
  background: url(../img/png/three.png);
}

/* about-us-block */

.about-us__text-box {
  width: 1082px;
}

.about-us__text {
  margin: 0;
}

.about-us__header {
  margin-bottom: 15px;
}

/* section-gallery */

.gallery {
  width: 100%;
  margin: 0px;
  padding-bottom: 30px;
  background: url(../img/png/fon-section-galary.png) no-repeat;
}

.gallery__header {
  color: var(--text-not-on-white-background);
  margin-bottom: 16px;
}

.gallery__content {
  display: flex;
}

.gallery__filter-and-text-bottom {
  width: 400px;
  margin-right: 50px;
}

.filter__header {
  margin: 0 0 10px 0;
  color:var(--text-not-on-white-background);
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.gallery__filter {
  margin-bottom: 553px;
}

.gallery__down-text {
  display: block;
  width: 377px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-not-on-white-background);
  margin: 0;
}

.gallery__down-text-link {
  color: var(--btn-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  transition: all .5s ease;
}

.gallery__down-text-link:hover {
  box-shadow: 0 1px 0 0 var(--btn-color);
}

.gallery__down-text-link:active {
  color: var(--btn-active);
  box-shadow: 0 1px 0 0 var(--btn-active);
}
 
/* section-gallery-select */
.choices {
  margin-bottom: 0 !important;
}

.choices__inner {
  min-height: auto !important;
  width: 400px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: 1px solid #FFFFFF !important;
  border-radius: 6px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--text-not-on-white-background) !important;
  line-height: 32px !important;
  font-weight: normal !important;
  font-size: 16px !important;
  transition: all .3s ease;
}

.choices__inner:hover {
  background: rgba(255, 255, 255, 0.2) !important; 
}

.choices__list--single {
  display: block !important;
  padding: 4px 16px 4px 7px !important;
}

.choices__list--dropdown {
  width: 400px !important;
  border: 1px solid #999999 !important;
  border-radius: 6px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  line-height: 32px !important;
  font-weight: normal !important;
  font-size: 16px !important;
}


.choices__list--dropdown .choices__item {
  padding: 4px 0 4px 10px !important;
  color: var(--text-not-on-white-background) !important;
  outline: 1px solid #999999 !important;
  transition: all .3s ease;
}

.choices__item::after {
  display: none !important;
}

.is-highlighted {
  background: rgba(255, 255, 255, 0.2) !important; 
}

.choices[data-type*=select-one]:after {
  content: url(../img/svg/gallary-selector-icon.svg) !important;
  border: none !important;
  left: 374px !important;
  top: 13px !important;
}

.choices.is-open[data-type*=select-one]:after {
  transform: rotate(180deg);
  left: 386px !important;
  top: 40px !important;
}

/* section-gallery-swiper */

.gallery__swiper {
  width: 1150px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__image {
  width: 350px;
}

.gallery__item {
  position: relative;
  margin-right: 50px;
  margin-bottom: 47px;
}

.gallery__item::after{
  content: '';
  display: block;
  margin: 25px;
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0; 
  left: 0;
  background: var(--transparent-black) url(../img/svg/icon-gallery-z.svg) no-repeat center center;
  box-shadow: 0 0 0 25px rgba(0, 0, 0, 0) inset;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center;
  opacity: 0;
  transition: all .3s ease;
}

.gallery__item:hover::after {
  opacity: 1;
}

.gallery__item:nth-child(3n) {
  margin-right: 0px;
}
.gallary__swiper-pagination {
  display: flex;
  padding: 26px 0 0 3px;
  align-items: center;
  width: fit-content !important;
  margin-bottom: 30px;
}

.swiper-pagination {
  display: none;
}

.gallary__pagination {
  color: var(--text-not-on-white-background);
  margin-right: 20px;
}

.swiper-pagination-total,
.swiper-pagination-current,
.swiper-pagination-fraction {
  position: static !important;
  color: var(--text-not-on-white-background) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
}


.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  padding: 15px !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  background-color: #666 !important;
  border-radius: 35px;
  transition: all .3s ease;
}

.swiper-button-prev {
  margin-right: 18px !important;
  background: url(../img/svg/slider-btn-icon-left.svg) no-repeat center center;
}

.swiper-button-next {
  background: url(../img/svg/slider-btn-icon-right.svg) no-repeat center center;
}

.swiper-button-prev:hover{
  background-color: var(--btn-color) !important;
}

.swiper-button-next:hover {
  background-color: var(--btn-color) !important;
}

.swiper-button-prev:active{
  background-color: var(--focus-color) !important;
  box-shadow: 0 0 0 2px var(--background-navigation);
}

.swiper-button-next:active {
  background-color: var(--focus-color) !important;
  box-shadow: 0 0 0 2px var(--background-navigation);
}

.swiper-pagination-fraction {
  bottom: 787px !important;
  left: -507px !important;
}

/* section-catalog */
.catalog__head {
  display: flex;
  margin-bottom: 13px;
}

.catalog__header {
  margin-right: 30px;
}
/* radiobtn */

.catalog__flags {
  padding: 2px 0 0 0;
}

.flags__radio {
  display: none;
}

.flags__list {
  display: flex;
}

.flags__item {
  border-radius: 36px;
  margin-right: 30px;
  padding: 10px;
  transition: all .3s ease;
}

.flags__item:last-child {
  margin-right: 0;
}


.flags__country {
  display: block;
  padding: 23px;
  cursor: pointer;
  border-radius: 23px;
  transition: all .3s ease;
}

.flags__country:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.flags__country-img {
  display: block;
}

.flags__country:active {
  box-shadow: 0 0 0 2px var(--btn-color);
}

.flags__item:first-child .flags__country {
  background: url(../img/png/image\ 4.png) no-repeat;
}

.flags__item:nth-child(2) .flags__country {
  background: url(../img/png/image\ 6.png) no-repeat;
}

.flags__item:nth-child(3) .flags__country {
  background: url(../img/png/image\ 7.png) no-repeat;
}

.flags__item:nth-child(4) .flags__country {
  background: url(../img/png/image\ 8.png) no-repeat;
}

.flags__item:nth-child(5) .flags__country {
  background: url(../img/png/image\ 5.png) no-repeat;
}

.flags__country--border {
  box-shadow: 0 0 0 2px var(--btn-color);
}

/* section-catalog-text */

.catalog__text {
  display: block;
  width: 1080px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  margin: 0 0 39px 0;
}

/* about-the-artist */

.catalog__foot {
  display: flex;
}

.catalog__about-the-artist {
  margin-right: 50px;
}

.about-the-artist {
  width: 750px;
}

.about-the-artist__img {
  margin-bottom: 27px;
}

.about-the-artist__name {
  margin: 0 0 9px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.about-the-artist__life-year {
  margin: 0 0 6px 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.about-the-artist__text {
  margin: 0;
}

/* section-catalog-accordion */

.catalog__accordion {
  width: 800px;
}

.ui-accordion-header {
  display: flex !important;
  align-items: center;
  padding: 41px 0 !important;
  transition: all .3s ease;
}

.ui-accordion-header:hover {
  color: var(--btn-color) !important;
  border-color: var(--btn-color) !important;
}

.ui-accordion-header.ui-accordion-header-active {
  color: var(--btn-active) !important;
  border-color: var(--btn-active) !important;
  transition: all .3s ease;
}

.ui-accordion-header-active .ui-icon {
  transform: rotate(180deg);
  background: url(../img/png/Group\ 76.png) no-repeat !important;
  box-shadow: 0 0 0 2px var(--btn-color);
}

.ui-accordion-header:hover .ui-icon {
  background: url(../img/png/Group\ 76.png) no-repeat !important;
}

.ui-icon {
  position: absolute !important;
  border-radius: 35px;
  right: 0;
  background: url(../img/svg/accordion-icon.png) no-repeat !important;
  min-width: 50px !important;
  min-height: 50px !important;
  transition: all .3s ease;
}

.ui-accordion .ui-accordion-content {
  padding: 25px 0px 28px 0 !important;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-radius: 0px !important; 
}

.ui-state-active,
.ui-widget-content,
.ui-state-active,
.ui-widget-header,
.ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border-top: 1px solid var(--accordion-border) !important;
  border-left: none !important;
  border-right: none !important;
  background: #fff !important;
  color: var(--text-main-color) !important;
  outline: none !important;
}

.ui-state-default,
.ui-widget-content
.ui-state-default,
.ui-widget-header
.ui-state-default,
.ui-button, html 
.ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border-top: 1px solid var(--accordion-border) !important;
  border-left: none !important;
  border-right: none !important;
  background: #fff !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  color: var(--text-main-color) !important;
}

.ui-corner-bottom {
  border-radius: 0px !important;
}
.ui-accordion-header-active,
.ui-widget-content {
  border-bottom:  1px solid #9D5CD0 !important;
}

.list-hide {
  margin-left: 79.99px;
}

.ui-corner-all:active {
  outline: none;
}

.item-hide {
  display: flex;
  padding: 14px 0 20px 0;
  margin-right: 77px;
  border-top: 1px solid var(--accordion-border);
}

.item-hide:last-child {
  border-bottom: 1px solid var(--accordion-border);
}

.frequently-asked-question {
  padding-bottom: 100px;
}

.accordion__content {
  display: flex;
}

.accordion__item {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.artist-names-accordion-list {
  margin-right: 70px;
}

.artist-names-accordion-list:nth-child(2) {
  margin-right: 92px;
}

.accordion__link {
  transition: all .3s ease;
}

.accordion__link:hover {
  border-bottom: 1px solid #9D5CD0;
  color: #9D5CD0;
}

/* section-events */

.section-events-list {
  display: flex;
  height: 750px;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: -82px;
  transition: all .5s ease;
}

.section-events-item {
  position: relative;
  width: 500px;
  height: 700px;
  padding: 313px 0px 50px 50px;
  margin-bottom: 50px;
  border: 1px solid var(--accordion-border);
}

.section-events-item:nth-child(1) {
  background: url(../img/png/Rectangle\ 101.png) no-repeat;
}

.section-events-item:nth-child(2) {
  background: url(../img/png/Rectangle\ 102.png) no-repeat;
}

.section-events-item:nth-child(3) {
  background: url(../img/png/Rectangle\ 103.png) no-repeat;
}

.section-events-item:nth-child(4) {
  background: url(../img/png/Rectangle\ 104.png) no-repeat;
}

.section-events-item:nth-child(5) {
  background: url(../img/png/Rectangle\ 105.png) no-repeat;
}

.section-events-item:not(:last-child) {
  margin-right: 50px;
}

.section-events-item:nth-child(3n) {
  margin-right: 0px;
}

.mini-text {
  display: block;
  text-align: right;
  margin-top: 1px;
  margin-right: 17px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.section-events-item-header {
  margin-top: -9px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.section-events-item-text {
  width: 400px;
  height: 220px;
  margin-top: -21px;
}

.section-events-item-link {
  display: block;
  position: absolute;
  bottom: 45px;
  left: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px solid #9D5CD0;
}

.section-events-item-link:hover {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}

.section-events-item-link:active {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #7943A4;
}

.section-events-item-header{
  display: block;
  width: 420px;
}

.section-events-checkbox-btn {
  display: block;
  width: 188px;
  height: 59px;
  padding-top: 15px;
  margin-right: 0 !important;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: 2px solid #9D5CD0;
  border-radius: 30px;
  color: #9D5CD0;
  right: -707px;
}

.section-events-checkbox-btn:hover {
  background: #9D5CD0;
  color: #FFF;
}

.section-events-checkbox-btn:active {
  background: #7943A4;
  border: 3px solid #D1A9F0;
}

/* section-events-list open and close */

.section-events-checkbox {
  display: none;
}

.section-events-checkbox:checked ~ .section-events-list {
 height: 1500px;
}

.section-events-checkbox-btn {
  position: relative;
  top: 727px;
}

.section-events-checkbox:checked ~ .section-events-checkbox-btn {
  top: 1477px;
}

/* section-publications */

.section-publications {
  position: absolute;
  width: 100%;
  height: 763px;
  margin-top: 139px;
  background: url(../img/png/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 4.png) no-repeat;
}


/* book-swiper */

.swiper-container-books {
  position: relative !important;
  width: 1150px;
  height: 900px;
  margin: 0 0 0 447px !important;
  padding: 61px 0 0 0 !important;
  bottom: 574px;
}

.books-item {
  width: 347px;
  height: 512px;
  margin-top: 1px;
}

.books-item:not(:last-child) {
  margin-right: 50px;
}

.books-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1150px;
  margin-left: 6px;
}

.prise-book {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  margin: 20px 1px 0 0;
}

.name-book {
  margin-top: -22px;
  font-weight: 700;
}

.name-creator {
  margin-top: -16px;
  margin-left: -2px;
}

.name-book,
.name-creator {
  font-size: 16px;
  line-height: 22px;
}

.prise-book,
.name-book,
.name-creator {
  color: var(--text-not-on-white-background);
}

.order-book-link {
  display: block;
  width: 120px;
  height: 40px;
  margin-top: -1px;
  margin-left: -3px;
  padding-top: 6px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-not-on-white-background);
}

.order-book-link:hover {
  background-color: var(--btn-color);
}

.order-book-link:active {
  background: #7943A4;
  border: 3px solid #D1A9F0;
}

.categories-box {
  margin-top: -24px;
}

.categories-form {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  height: 380px;
}

.label-categories {
  cursor: pointer;
  display: block;
  width: 241px;
  margin-top: -9px;
  margin-left: 24px;
}

.label-categories:hover {
  color: #C283F3;
}

.label-categories:hover::before {
  content: url(../img/svg/Rectangle\ 115.svg);
}

.label-categories:active {
  color:#7943A4;
}

.label-categories:active::before {
  content: url(../img/svg/Rectangle\ 202.svg);
}

.label-categories::before {
  content: url(../img/svg/Rectangle\ 121.svg);
  left: 160px;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;

}

.categories-header {
  margin-top: -4px;
}

.categories-header,
.prise-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}

.categories-form input {
  display: none;
}

#bestsellers:checked ~ .bestsellers.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

#art:checked ~ .art.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

#architecture:checked ~ .architecture.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

#design:checked ~ .design.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

#fashion:checked ~ .fashion.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

#children:checked ~ .children.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

#fiction:checked ~ .fiction.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

#journalism:checked ~ .journalism.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

#travel-guides:checked ~ .travel-guides.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

#philosophy:checked ~ .philosophy.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

#educational-literature:checked ~ .educational-literature.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

#magazines-and-newspapers:checked ~ .magazines-and-newspapers.label-categories::before {
  content: url(../img/svg/Group\ 1.svg);
}

/* //////////////////////////////////////////////////// */

#bestsellers:checked ~ .bestsellers.label-categories {
  color: #C283F3;
}

#art:checked ~ .art.label-categories {
  color: #C283F3;
}

#architecture:checked ~ .architecture.label-categories {
  color: #C283F3;
}

#design:checked ~ .design.label-categories {
  color: #C283F3;
}

#fashion:checked ~ .fashion.label-categories {
  color: #C283F3;
}

#children:checked ~ .children.label-categories {
  color: #C283F3;
}

#fiction:checked ~ .fiction.label-categories {
  color: #C283F3;
}

#journalism:checked ~ .journalism.label-categories {
  color: #C283F3;
}

#travel-guides:checked ~ .travel-guides.label-categories {
  color: #C283F3;
}

#philosophy:checked ~ .philosophy.label-categories {
  color: #C283F3;
}

#educational-literature:checked ~ .educational-literature.label-categories {
  color: #C283F3;
}

#magazines-and-newspapers:checked ~ .magazines-and-newspapers.label-categories {
  color: #C283F3;
}

/* prise-form */

.prise-form {
  display: block;
  margin-top: -7px;
  text-align: center;
  width: 300px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.prise-form-text--from {
  padding-right: 10px;
}

.prise-form-text--before {
  padding: 0 10px 0 10px;
}

.prise-form-text--rub {
  padding-left: 10px;
}

.enter-prise {
  width: 73px;
  height: 40px;
  padding: 0 10px 0 10px;
  background: rgba(157, 92, 208, 0.5);
  border: none;
  outline: none;
  color: var(--text-not-on-white-background);
}


/* section-projects */

.section-projects-text {
  width: 1080px;
  height: 246px;
  margin-top: -24px;
}

.section-projects {
  margin-top: 985px;
}

.simptip-position-top:after {
  width: 264px;
}

[data-tooltip]:after {
  height: auto;
  padding: 8px 11px 11px 11px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  white-space: normal;
}

[data-tooltip].simptip-position-top:after {
  background-color: #CACACA;
  color: #FFF;
}

[data-tooltip].simptip-position-top:before {
  border-top-color: #CACACA;
}

.section-projects-text-link {
  display: block;
  position: relative;
  width: 261px;
  top: -31px;
  left: 514px;
  font-weight: 600;
  font-size: 16px;
  color: #9D5CD0;
}

.section-projects-text-link:hover {
  border-bottom: 1px solid #9D5CD0;
}

.section-projects-text-link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.project-partners-header {
  margin-top: -2px;
  margin-left: -3px;
  font-weight: 600;
  font-size: 24px;
}

.swiper-container-partners {
  height: 150px;
  width: 1600px;
  margin-top: 26px;
  margin-left: 0px !important;
  padding: 0 0 0 75px !important;
}

.partners-list {
  display: flex;
}

.partners-item-1,
.partners-item-2,
.partners-item-3,
.partners-item-4,
.partners-item-5,
.partners-item-6,
.partners-item-7,
.partners-item-8,
.partners-item-9 {
  display: block;
  width: 450px;
  height: 150px;
  transition: all .3s ease;
}

.partners-item-1,
.partners-item-2,
.partners-item-4,
.partners-item-5,
.partners-item-7,
.partners-item-8 {
  margin-right: 50px;
}

.partners-item-1 {
  background: url(../img/svg/Group\ 65.svg) no-repeat;
}

.partners-item-1:hover {
  background: url(../img/svg/Group\ 65-hover.svg) no-repeat;
}

.partners-item-2 {
  background: url(../img/svg/Group\ 66.svg) no-repeat;
}

.partners-item-2:hover {
  background: url(../img/svg/Group\ 66-hover.svg) no-repeat;
}

.partners-item-3 {
  background: url(../img/svg/Group\ 67.svg) no-repeat;
}

.partners-item-3:hover {
  background: url(../img/svg/Group\ 67-hover.svg) no-repeat;
}

.partners-item-4 {
  background: url(../img/svg/Group\ 22.svg) no-repeat;
}

.partners-item-4:hover {
  background: url(../img/svg/Group\ 22-hover.svg) no-repeat;
}

.partners-item-5 {
  background: url(../img/svg/Group\ 25.svg) no-repeat;
}

.partners-item-5:hover {
  background: url(../img/svg/Group\ 25-hover.svg) no-repeat;
}

.partners-item-6 {
  background: url(../img/svg/Group\ 23.svg) no-repeat;
}

.partners-item-6:hover {
  background: url(../img/svg/Group\ 23-hover.svg) no-repeat;
}

.partners-item-7 {
  background: url(../img/svg/Group\ 26.svg) no-repeat;
}

.partners-item-7:hover {
  background: url(../img/svg/Group\ 26-hover.svg) no-repeat;
}

.partners-item-8 {
  background: url(../img/svg/Group\ 24.svg) no-repeat;
}

.partners-item-8:hover {
  background: url(../img/svg/Group\ 24-hover.svg) no-repeat;
}

.partners-item-9 {
  background: url(../img/svg/Group\ 27.svg) no-repeat;
}

.partners-item-9:hover {
  background: url(../img/svg/Group\ 27-hover.svg) no-repeat;
}



.swiper-button-partners-prev {
  position: absolute;
  z-index: 10 !important;
  content: url(../img/svg/Group\ 31.png) !important;
  top: 61px !important;
  left: 0px !important;
  
}

.swiper-button-partners-next {
  position: absolute;
  z-index: 10 !important;
  content: url(../img/svg/Group\ 32.png) !important;
  top: 61px !important;
  right: 0px !important;
}

.swiper-button-partners-prev:hover {
  content: url(../img/svg/image\ 2.png) !important;
}

.swiper-button-partners-prev:active {
  content: url(../img/svg/image\ 1.png) !important;
}

.swiper-button-partners-next:hover {
  content: url(../img/svg/Group\ 32-hover.png) !important;
}

.swiper-button-partners-next:active {
  content: url(../img/svg/Group\ 74-active.png) !important;
}

/* section-contacts */

.section-contacts {
  height: 781px;
}

.contact-address-and-form {
  height: 700px;
  width: 700px;
  margin-left: -178px;
  margin-top: -24px;
  border-top: 1px solid #CACACA;
}

.showroom-header {
  margin-top: 125px;
  margin-left: 179px;
  font-weight: 600;
  font-size: 24px;
}

.address {
  margin-top: -18px;
  margin-left: 178px;
  font-size: 16px;
}

.social-box {
  margin-left: 178px;
}

.order-a-call-header {
  margin-top: 30px;
  margin-bottom: 19px;
  font-size: 24px;
}

.order-a-call-form {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.order-a-call {
  margin-left: 178px;
}

.name,
.tel {
  width: 400px;
  height: 40px;
  padding-left: 24px;
  border: 1px solid #333333;
  border-radius: 100px;
}

.name::placeholder,
.tel::placeholder {
  color: #999;
}

.tel {
  margin-top: 23px;
}

.btn-call {
  width: 157px;
  height: 59px;
  margin-top: 22px;
  background-color: #FFF;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #9D5CD0;
}

.btn-call:hover {
  background: #9D5CD0;
  color: #FFF;
}

.btn-call:active {
  background: #7943A4;
  border: 3px solid #D1A9F0;
}


.what-tel-box {
  display: flex;
  flex-wrap: nowrap;
  width: 110px;
  margin-top: -16px;
}

.contact-one-click {
  margin-top: 40px;
  margin-left: -1px;
  font-weight: 600;
  font-size: 24px;
}

.whatsapp,
.tellegram {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 20px;
}

.map-conteiner {
  position: relative;
}

/* footer */

footer {
  width: 100%;
  height: 140px;
  margin-top: 1px;
  background: var(--background-navigation);
}

.footer-nav-logo {
  position: relative;
  width: 173px;
  top: 50px;
  left: 160px;
}

.footer-social-list {
  display: flex;
  position: relative;
}

.footer-social-item {
  margin-left: 19px;
}